<?xml version="1.0"?>
<!--
/**
 * @category    RoyalCyberMarketplace
 * @copyright   Copyright (c) 2022 RoyalCyberMarketplace (https://royalcyber.com/)
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="RoyalCyberMarketplace_ProductQuestions::menus" title="Product Questions" module="RoyalCyberMarketplace_ProductQuestions" sortOrder="200" parent="Magento_Catalog::catalog" resource="RoyalCyberMarketplace_ProductQuestions::menus"/>
        <add id="RoyalCyberMarketplace_ProductQuestions::question" title="Questions" translate="title" module="RoyalCyberMarketplace_ProductQuestions" sortOrder="10" parent="RoyalCyberMarketplace_ProductQuestions::menus" action="product_questions/question" resource="RoyalCyberMarketplace_ProductQuestions::question"/>
        <add id="RoyalCyberMarketplace_ProductQuestions::answer" title="Answers" translate="title" module="RoyalCyberMarketplace_ProductQuestions" sortOrder="20" parent="RoyalCyberMarketplace_ProductQuestions::menus" action="product_questions/answer" resource="RoyalCyberMarketplace_ProductQuestions::answer"/>
    </menu>
</config>
