<?xml version="1.0" ?>
<!--
/**
 * @category    RoyalCyberMarketplace
 * @copyright   Copyright (c) 2022 RoyalCyberMarketplace (https://royalcyber.com/)
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="product_questions" id="product_questions">
			<module name="RoyalCyberMarketplace_ProductQuestions" before="Magento_Backend"/>
		</route>
	</router>
</config>
